<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>

<script src="/list_js"></script>

<body>
    <h1>Player List</h1>

    <table>
        <thread>
            <th>Username</th>
            <th>Password</th>
            <th>Action</th>
        </thread>
        <tbody>
            <td>
                <input type="text" id="username" name="username">
            </td>

            <td>
                <input type="text" id="password" name="password">
            </td>

            <td>
                <button type="button" onclick=createPlayer()>create</button>
            </td>
        </tbody>

    </table>
    <table id="player_table">
        <thread>
            <th>Username</th>
            <th>Password</th>
            <th>Action</th>
        </thread>
        <tbody>
        </tbody>
    </table>

    </table>
</body>

</html>